
.social-network{
  list-style: none;
  padding: 0;
}

.social-network > li{
  display: inline;
  padding: 5px;
  margin:0;
  font-size: 35px;
}

.icoGithub, .icoInstagram, .icoLinkedin{
  color: white;
}

.icoGithub:hover{
  color: rgb(0, 8, 8);
}

.icoInstagram:hover{
  color: #c13584;
}

.icoLinkedin:hover{
  color: #0072b1;
}
