<div class="container mb-5" id="container mb-5">
  <h1 class="text-center mb-5 text-monospace" style="color: white">Contact</h1>
  <form>
    <div class="form-group">
      <label for="nome">Name</label>
      <input type="text" class="form-control" id="nome" placeholder="write your name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="mensagem">Message</label>
      <textarea class="form-control" id="mensagem" rows="3"></textarea>
    </div>
    <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-light w-25">Send</button>
  </div>
  </form>
</div>



