.card-body, .card-titletext-center, .card-texttext-center {
color: white;
background-color:black;

}

.justify-content-center::selection{
  background-color:black;

 }

.d{
  background-color: black;
  padding-left: 50px;
}

.text-center{
  color: white;
}

.element.style{
 background-color: black;
}

.text-monospace{
  color: white;
}
