<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card border-0" style="width: 18rem;">
        <div class="d justify-content-center">
          <img stylesheet="background-color: black;" src="./../../assets/perfil.jpg" class="card-img-top rounded-circle w-75" alt="Foto do usuário">
        </div>
        <div class="card-body">
          <h5 class="card-titletext-center">Ricardo Luis Machado</h5>
          <p class="card-texttext-center">Fullstack Developer</p>
          <a href="https://github.com/wolwerr" target="_blank"
          class="btn btn-outline-light d-flex justify-content-center">Github</a>
          <a href="https://www.linkedin.com/in/ricardolmachado/" target="_blank"
          class="btn btn-outline-light d-flex justify-content-center mt-3">Linkedin</a>

          <!--<h6 class="mb-3 text-monospace text-center">Pesquisar por nome</h6>

          <input type="text" class="form-control mb-3 w-100">
          <button class="btn btn-outline-warning w-100">Pesquisar</button>
          -->
        </div>
      </div>
      </div>

    <div class="col-md-8">
      <div>
        <h3 class="text-center mb-4 text-monospace">Write your coments:</h3>

        <div class="form-group">
          <label for="nome" class="text-monospace">Name:</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Write your name"
            >
        </div>
        <div class="form-group">
          <label for="mensagem" class="text-monospace">Messages:</label>
          <textarea name="message" id="message" cols="30" rows="4" class="form-control"
            placeholder="Write your message" ></textarea>
        </div>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-light w-25" (click)='cadastrarMensagem()'>Publish</button>
        </div>

      </div>
      <hr class="mt-5 mb-5">

      <h3 class="text-center mb-5 text-monospace">Coments</h3>
      <div class="container">
        <div class="card mb-4" *ngFor="let result of posts">

          <div class="card-body">
            <p class="card-text">{{ result.name }}</p>
            <p class="card-text">{{ result.message }}</p>
          </div>
        </div>
        <h5 class="text-center mb-5 text-monospace">Páginas</h5>
        <div class="container">
          <div class="card mb-4" >

            
      </div>
    </div>
  </div>
</div>
