<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <link rel="stylesheet" type="text/css" href="home.component.css" media="screen" />
      <h1 class="text-center">Welcome!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <h3 class="text-center">"My dream is to create apps that solve our everyday problems"<br></h3><br>
      <p class="text-left">



I have more than 10 years of experience in the financial area, working in large foreign exchange brokers.<br>
I'm currently role is Full Stack Developer, an area I've always liked, and now I decided to go deeper into this world and ended up discovering my second passion.<br>
Some programming languages that I know and have projects in my GitHub:<br><br>
- BackEnd: Java, Springboot, PHP, Laravel, C# and .net<br>
- FrontEnd: JavaScript, TypeScript, HTML, CSS, React, AngularJs and VueJs<br>
- Database: PostgreSQL, Docker, MySQL, Banco de dados JDBC/JPA, H2 and Oracle SQL Developer<br>
- DevOps: Git, GitHub, AWS Cloud, Azure<br>
- Criation of aplications with Microservices, Kafta, MVC and Monolithic<br>
I'm always looking a new knowledges.<br><br>

Fill free to add me in your contact list, will be my pleasure doing a part of it.<br>

Postgraduate - Specialization FINANCIAL ECONOMY<br>
Analysis and Systems Development<br>
Creation and Configuration E-Commerce<br>
FullStack Developer
    </div>
  </div>

  <div class="parallax"></div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" stylesheet="white" routerLink='/feed'>See the feed</button>
    </div>
  </div>
</div>
