<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <link rel="stylesheet" type="text/css" href="home.component.css" media="screen" />
      <h1 class="text-center">Welcome!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <h3 class="text-center">"My dream is to create apps that solve our everyday problems"<br></h3><br>
      <p class="text-left">

        I had discovered IT area and I fall in love.<br>
        Since than, I'm always looking to learn more and more about this world.<br>
        My current position today is BackEnd Developer at Topaz.<br>

        Some programming languages that I know and have projects in my GitHub:<br>
        - BackEnd: Java, Springboot, PHP, Laravel, C# and .net <br>
        - FrontEnd: JavaScript, TypeScript, HTML, CSS, React, AngularJs and VueJs <br>
        - Database: PostgreSQL, Docker, MySQL, Banco de dados JDBC/JPA, H2 and Oracle SQL Developer <br>
        - DevOps: Git, GitHub, AWS Cloud, Azure<br>
        - Agile Methodologies: Scrun, Kanban<br>
        - Criation of aplications with Microservices, Kafta, MVC, Monolithic, WEB aplications<br>
        I'm always looking a new  knowledges.<br><br>

        Fill free to add me in your contact list, will be my pleasure doing a part of it.<br><br>

        Analysis and Systems Development<br>
        Creation and Configuration of E-Commerce<br>
        Object-Oriented Programming (OOP)<br>
        Application Programming Interfaces<br>
        FullStack Developer<br>
        Java<br>
        Angular<br>

    </div>
  </div>

  <div class="parallax"></div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-light w-25" stylesheet="white" routerLink='/feed'>See the feed</button>
    </div>
  </div>
</div>
