<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-12">
      <h1 class="text-center">Sejam Bem Vindos!</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <h3>"O meu sonho é criar aplicativos que resolvam nossos problemas do dia a dia"<br></h3>
      <p class="text-left">

        Tenho mais de 10 anos de experiência na área financeira, passando por grandes corretoras de cambio.<br>
        Atualmente sou Desenvolvedor Full Stack.<br>
        Sempre gostei da área de TI, e agora consegui entrar no mercado e resolvi me aprofundar sobre esse mundo e acabei descobrindo minha segunda paixão.<br>
        Algumas linguagem de programação que já programo e tenho projetos no meu GitHub:<br>
        BackEnd: Java, Springboot, Python, PHP, Laravel, C#, .net<br>
        FrontEnd: JavaScript, TypeScript, HTML, CSS, React, AngularJs e VueJs<br>
        Banco de dados: PostgreSQL, Docker, MySQL, Banco de dados JDBC/JPA, H2, Git, GitHub, AWS Cloud<br><br>
        Estou sempre em busca de novos aprendizados, sempre estou fazendo cursos para me atualizar.<br>

        Sinta-se livre para me adicionar a sua lista de contatos, será um prazer fazer parte dela.<br>

        Perfil Git Hub: https://github.com/wolwerr<br>

        Specialties: Economia Financeira - Unicamp<br>
        Análise e Desenvolvimento de Sistemas<br>
        Criação e Configuração de E-Commerce<br>
        FullStack Developer</p>
    </div>
  </div>

  <div class="parallax"></div>

  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
    </div>
  </div>
</div>
